.nav-bar {
  color: white;
  font-size: 18px;
  background-color: rgb(249, 219, 34);
  width: 100%;
  z-index: 4;
}
.nav-item a{ 
  font-size: 18px;
  color: white !important;
  fill: white;
  text-decoration: none;
  display: inline-block !important;
}

.nav-item {
  display: inline !important;
}

.nav-thi {
flex-flow: row;
list-style: none;
}

.nav-link-text {
  color: white;
}